main {
  padding-top: 102px;
  z-index: 1 !important;
}

.btn-adicionar {
  position: fixed !important;
  right: 50px !important;
  bottom: 50px !important;
}

.btn-adicionar .icon {
  margin: 0px !important;
  height: auto !important;
  width: auto !important;
}

.remover-todos-itens {
  position: relative !important;
  top: -46px !important;
  right: 16px !important;
  height: 24px !important;
}

.icon {
  margin: 0px !important;
}

.image .label,
.blurring,
.dimmable {
  z-index: 1 !important;
}

.espace_icon_text {
  margin-right: 2px !important;
}